<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Smart\CustomAuthentication\Block\Account\Dashboard\Info $block */
?>

<div class="block block-dashboard-info">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Welcome back to your dashboard!')) ?></strong></div>
    <div class="block-content">
        <h5>hello how are you?</h5>
    </div>
</div>
