<div class="banner-info">
    <div><h3 class="title"><?= $block->getData('title')?></h3></div>
    <div class="promo"><?= $block->getData('promo_code')?></div>
    <div class="promo"><?= $block->getData('promo_apply')?></div>
    <div class="promo"><?= $block->getData('description')?></div>

    <br>
</div>