<?php
$dataconfig =$block->getConfigs();
$categoryId = $dataconfig['category_id'];
$numberofproduct = $dataconfig['numberofproduct'];
$getProudctcollection = $block->getCategoryProduct($categoryId,$numberofproduct);
?>
<div class="block widget block-new-products grid best-seller">
    <div class="block-title">

        <h1 style="text-align: center">Best Seller</h1>
    </div>
    <div class="block-content">
        <div class="products-grid grid">
            <ol class="product-items widget-new-grid">
                <?php foreach ($getProudctcollection as $product): ?>
                    <?php

                    $name = $product->getName();
                    $img = $product->getImage();
                    $price = $product->getPrice();
                    $image = 'new_products_content_widget_list';

                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                    $_product = $objectManager->get('Magento\Catalog\Model\Product')->load($product->getProductId());
                    $imageHelper = $objectManager->get('\Magento\Catalog\Helper\Image');
                    $image_url = $imageHelper->init($_product, 'product_page_image_small')->setImageFile($product->getImage())->resize(340, 400)->getUrl(); ?>
                    <li class="product-item">
                        <div class="product-item-info">
                            <div class="note"><?= __('new') ?></div>
                            <a href="<?php echo $product->getProductUrl(); ?>">
                                <img src="<?= $image_url ?>"/>
                            </a>

                            <div class="product-item-details">
                                <strong class="product-item-name">
                                    <a title="<?= $name ?>"
                                       href="<?php echo $product->getProductUrl(); ?>"
                                       class="product-item-link">
                                        <?= $name ?> </a>
                                </strong>
                                <div class="line"></div>
                                <div class="price-box price-final_price" data-role="priceBox" data-product-id="1996"
                                     data-price-box="product-id-1996">
                                    <span class="normal-price">
                                        <span class="price-container price-final_price tax weee">
                                            <span id="old-price-1996-widget-new-grid" data-price-amount="42"
                                                  data-price-type="finalPrice"
                                                  class="price-wrapper "><span
                                                        class="price">$<?= $price ?></span></span>
                                            </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ol>
        </div>
    </div>
    <div class="view-all">
        <a href="best-seller.html"><button class="btn-view-all" ><?= __('View All') ?></button></a>
    </div>
</div>

<style>
    .block-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .block-title strong {
        font-weight: 600 !important;
    }



    .product-item-info {
        position: relative;

    }
    .line {
        width: 100%;
        height: 1px;
        background: #C7C7C7;
    }


    .product-item-info .note {
        position: absolute;
        top: 1%;
        left: 15%;
        border: 1px solid #0c0c0c;
        box-shadow: 2px 2px #000;
        padding: 2px 5px;
        background: red;
        color: #fff;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1rem;
    }
    .products-grid .product-item {
        width: 25%;
    }

    .price {
        display: block;
        text-align: center;
    }

    .view-all {
        text-align: center;
    }

    .btn-view-all {
        background: transparent;
        box-shadow: 3px 3px #000;
        border: 1px solid;
        border-radius: initial;
    }

</style>