// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .pages {
        .lib-pager();

        .action {
            @_shadow: inset 0 1px 0 0 @color-white, inset 0 -1px 0 0 fade(@border-color__base, 30);

            .lib-css(box-shadow, @_shadow);
            border-radius: 3px;
            padding: 0 8px;

            &.previous {
                margin-right: 8px;
            }

            &.next {
                margin-left: 8px;
            }
        }
    }

    //my css ** quoc vinh **
    .sub-banner .item {
        height: 240px;
        overflow: hidden;
    }

    .page-footer {
        padding-bottom: 0 !important;
        .main-footer {
            h5 {
                text-transform: uppercase;
                font-weight: bold;
            }
            .paypal a img {
                height: 85px;
            }
            color: #111;
        }
        hr {
            border-top: 1px solid #c4c4c4;
        }
        background: #fff !important;
        .footer-menu {
            a {
                text-decoration: none;
                color: #999;
            }
            p{
                text-align: center;
                color: #999;
            }
        }
    }

    small.copyright {
        background: #fff;
        padding-bottom: 15px;
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .pages {
        & &-items {
            display: block;
            padding: 2px 40px 0;
            position: relative;
            white-space: normal;
            z-index: 1;
        }

        &-item-previous {
            left: 0;
            position: absolute;
            top: 0;
            z-index: 1;
        }

        &-item-next {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }
}
