<?php

/**
 * @var \Smart\Social\Block\Index $block
 */
$allSlide = $block->loadAllSlide();
$path = $block->getMediaUrl();
$image = $this->helper('Smart\Social\Helper\Image');
$name = $block->SocialName();
$isEnable = $block->isEnable();
?>
<?php if ($isEnable): ?>
<div>
    <h2 class="text-center"><?= $name?></h2>
    <ul class="my-slider">
        <?php foreach ($allSlide as $item): ?>
            <li>
                <img src="<?php echo $image->resize($item['thumbnail'], 300, 160); ?>" alt="<?= $item['name']?>"/>
            </li>
        <?php endforeach; ?>
    </ul>
</div>


<script>
    require([
        'jquery',
        'slick'
    ], function ($) {
        $(document).ready(function () {
            $(".my-slider").slick({
                arrows: true,
                infinite: false,
                speed: 300,
                draggable:true,
                slidesToShow: 4,
                useCSS:true,
                slidesToScroll: 3,

                responsive: [{

                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4,
                    }

                }, {

                    breakpoint: 600,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                    }

                }]
            });

            $(".slick-prev").html("&#8249;");
            $(".slick-next").html("&#8250;");
        });
    });
</script>

<?php endif; ?>