<div class="sub-banner">
    <div class="">
        <div class="">
            <div class="col-md-4 item">
                <a href="<?php echo $block->getData('link1'); ?>"><img src="<?php
                    echo $block->getData('image1');
                    ?>" alt=""></a>
            </div>
            <div class="col-md-4 item">
                <a href="<?php echo $block->getData('link2'); ?>"><img src="<?php
                    echo $block->getData('image2');
                    ?>" alt=""></a>
            </div>
            <div class="col-md-4 item">
                <a href="<?php echo $block->getData('link3'); ?>"><img src="<?php
                    echo $block->getData('image3');
                    ?>" alt=""></a>
            </div>
        </div>
    </div>
</div>