<?php
/**
 * @var \Smart\NewsletterPopup\Block\Widget\NewsletterPopup $block
 * @see \Smart\NewsletterPopup\Block\Widget\NewsletterPopup
 */
?>
<style>
    .popup-newsletter .block-newsletter {
        width: 100%;
        background-color:#f7e403a3;
        height:300px;
    }
    .newsletter-content {
        display: none;
        text-align: center;
    }
    .newsletter-content .messages {
        display: none;
    }
    .newsletter-content h2 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        line-height: initial;
    }
    .newsletter-content p {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        line-height: initial;
        color: red;
    }
    .newsletter-content.block-newsletter .actions {
        display: block;
        margin-top: 10px;
        width: 100%;
    }
    .newsletter-content .actions .action.subscribe.primary {
        border-radius: 3px;
        width: 100%;
        display: block;
        text-transform: uppercase;
        background-color: black;
        border: 1px solid black;
    }
    .newsletter-content .actions .exit-popup{
        border-radius: 3px;
        width: 100%;
        display: block;
        text-transform: uppercase;
        box-shadow: 4px 4px;
    }
</style>

<div class="block-newsletter newsletter-content" id="popup-newsletter">
    <div class="messages">
        <div class="message message-error error">
            <div></div>
        </div>
    </div>
    <div class="intro">
        <h2><?php  echo __('JOIN THE MELISSA FAMILY AND TAKE'); ?></h2>
        <p><?php echo $block->getData('sale').'% OFF';?></p>
    </div>
    <div class="content">
        <form class="form subscribe"
            novalidate
            action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl(); ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
            <div class="field newsletter">
                <label class="label1" for="newsletter"><span><?php /* @escapeNotVerified */ echo __('Sign up for our mailling list to be the first to know about all our exclusive deals & sneak peeks!:'); ?></span></label>
                <div class="control">
                    <input name="email" type="email" id="newsletter"
                                placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email address'); ?>"
                                data-validate="{required:true, 'validate-email':true}"/>
                </div>
            </div>
            <div class="actions">
                <button class="action subscribe primary" type="submit">
                    <span><?php /* @escapeNotVerified */ echo __('Subscribe'); ?></span>
                </button>
                <br>
                <button class="exit-popup" id="exit-popup" type="button">
                <span><?php /* @escapeNotVerified */ echo __('No thanks, just let me shop'); ?></span>
                </button> 
            </div>
        </form>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "#popup-newsletter": {
            "Smart_NewsletterPopup/js/process-popup-newsletter": {
                "popupTitle": "<?php /* @escapeNotVerified */ echo __('Newsletter'); ?>"
            }
        } 
    }
</script>
