<!-- <style>
    .flex-container{
        display: flex;
    }
</style>


<div class="flex-container">
    <div>
        <img src="<?php echo $block->getData('widgetimage1'); ?>" alt="">
    </div>
    <div>
        <img src="<?php echo $block->getData('widgetimage2'); ?>" alt="">
    </div>
    <div>
        <img src="<?php echo $block->getData('widgetimage3'); ?>" alt="">
    </div>
</div> -->
<!--<div class="card" style="width: 18rem;">-->
<!--    <img class="card-img-top" src="..." alt="Card image cap">-->
<!--    <div class="card-body">-->
<!--        <h5 class="card-title">Card title</h5>-->
<!--        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--    </div>-->
<!--</div>-->


<img style="display:inline; width:150px;" src="https://vcdn-vnexpress.vnecdn.net/2019/07/30/3-1564483263_680x0.jpg"/>
<img style="display:inline; width:150px;" src="https://vcdn-vnexpress.vnecdn.net/2019/07/30/3-1564483263_680x0.jpg"/>
<img style="display:inline; width:150px;" src="https://vcdn-vnexpress.vnecdn.net/2019/07/30/3-1564483263_680x0.jpg"/>
<img style="display:inline; width:150px;" src="https://vcdn-vnexpress.vnecdn.net/2019/07/30/3-1564483263_680x0.jpg"/>
<img style="display:inline; width:150px;" src="https://vcdn-vnexpress.vnecdn.net/2019/07/30/3-1564483263_680x0.jpg"/>
<img style="display:inline; width:150px;" src="https://vcdn-vnexpress.vnecdn.net/2019/07/30/3-1564483263_680x0.jpg"/>
<img style="display:inline; width:150px;" src="https://vcdn-vnexpress.vnecdn.net/2019/07/30/3-1564483263_680x0.jpg"/>
<img style="display:inline; width:150px;" src="https://vcdn-vnexpress.vnecdn.net/2019/07/30/3-1564483263_680x0.jpg"/>
<img style="display:inline; width:150px;" src="https://vcdn-vnexpress.vnecdn.net/2019/07/30/3-1564483263_680x0.jpg"/>
<img style="display:inline; width:150px;" src="https://vcdn-vnexpress.vnecdn.net/2019/07/30/3-1564483263_680x0.jpg"/>
<img style="display:inline; width:150px;" src="https://vcdn-vnexpress.vnecdn.net/2019/07/30/3-1564483263_680x0.jpg"/>
<img style="display:inline; width:150px;" src="https://vcdn-vnexpress.vnecdn.net/2019/07/30/3-1564483263_680x0.jpg"/>


