<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php

/**
 *  General template for displaying group of blocks devided into sections
 */

$group = $block->getGroupName();
$groupCss = $block->getGroupCss();
$groupBehavior = $block->getGroupBehaviour() ? $block->getGroupBehaviour() : '{"tabs":{"openedState":"active"}}';
?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames($group, 'getChildHtml')):?>
    <div id="sticky-header" class="sections <?= /* @escapeNotVerified */ $groupCss ?>">
        <?php $layout = $block->getLayout(); ?>
        <div class="section-items <?= /* @escapeNotVerified */ $groupCss ?>-items" data-mage-init='<?= /* @escapeNotVerified */ $groupBehavior ?>'>
            <?php foreach ($detailedInfoGroup as $name):?>
                <?php
                $html = $layout->renderElement($name);
                if (!trim($html) && ($block->getUseForce() != true)) {
                    continue;
                }
                $alias = $layout->getElementAlias($name);
                $label = $block->getChildData($alias, 'title');
                ?>
                <div class="section-item-title <?= /* @escapeNotVerified */ $groupCss ?>-item-title" data-role="collapsible">
                    <a class="<?= /* @escapeNotVerified */ $groupCss ?>-item-switch" data-toggle="switch" href="#<?= /* @escapeNotVerified */ $alias ?>"><?= /* @escapeNotVerified */ $label ?></a>
                </div>
                <div class="section-item-content <?= /* @escapeNotVerified */ $groupCss ?>-item-content" id="<?= /* @escapeNotVerified */ $alias ?>" data-role="content"><?= /* @escapeNotVerified */ $html ?></div>
            <?php endforeach;?>
        </div>
    </div>
<?php endif; ?>

<!--<ul class="my-list">-->
<!--    <li>1st Element</li>-->
<!--    <li>2nd Element</li>-->
<!--    <li>3rd Element</li>-->
<!--    <li>4th Element</li>-->
<!--    <li>5th Element</li>-->
<!--    <li>6th Element</li>-->
<!--    <li>7th Element</li>-->
<!--    <li>8th Element</li>-->
<!--</ul>-->
<!---->
<!--<script>-->
<!--    require([-->
<!--        'jquery',-->
<!--        'slick',-->
<!--    ], function ($) {-->
<!--        $(document).ready(function () {-->
<!--            $(".my-list").slick({-->
<!--                dots: true,-->
<!--                infinite: true,-->
<!--                speed: 300,-->
<!--                slidesToShow: 4,-->
<!--                slidesToScroll: 1-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->

<script>
    require([
        'jquery',
    ], function ($) {
        $(document).ready(function () {
            window.onscroll = function() {myFunction()};

            var header = document.getElementById("sticky-header");
            var sticky = header.offsetTop;

            function myFunction() {
                if (window.pageYOffset > sticky) {
                    header.classList.add("sticky");
                } else {
                    header.classList.remove("sticky");
                }
            }
        });
    });
</script>