.justify-content{
    justify-content: space-between!important;
}
.logo{
    margin: 0.2em 5em !important;
}

@media (min-width: 768px), print{
    .navigation ul {
        padding: 0 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10em!important;
    }
}
@media (min-width: 768px), print{
    .header.content{
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding: 0!important;
        max-width: 100%!important;

    }
}
@media (min-width: 768px), print {
    .minicart-wrapper {
        margin-right: 5em;
    }
}
.sticky {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%
}