<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Smart\Newsletter\Block\Subscribe $block */
?>
<style>
//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Newsletter subscription
    .block-newsletter1 {
        .form.subscribe {
            margin-top: 30px;
        }
        .fieldset {
            display: table-cell;
            margin: 0;
            padding: 0;
            vertical-align: top;
        }

        .field {
            margin: 0;

            .control {
                
                display: block;
            }
        }

        .title {
            display: none;
        }
        
        .actions {
            display: table-cell;
            vertical-align: top;
            width: 1%;
        }

    } 
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .block {
        &.newsletter {
            input {
                
                font-size: 12px;
            }

            .field {
                
                .control:before {
                    font-size: 13px;
                }
            }
        }
    }
}

.newsletter-link {
    float: left;
}
</style>

<div class="block-newsletter1" style="border-top: 0.5px solid #c2c2c2;">
    <div class="title" style="text-align:center;font-size:24px;"><strong><?= $block->escapeHtml(__('STAY CONNECT TO MELISSA')) ?></strong>
    </div>
    <div class="content">
        <form class="form subscribe"
            style="text-align:center;"
            novalidate
            action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
            <div class="field newsletter">
                <div class="control">
                    <label for="newsletter">
                        <div class ="label" style="display:block;max-width:60%;margin:auto;">
                            <?= $block->escapeHtml(__('Sign up for our newsletter and enjoys 10% of your first order:')) ?>
                        </div>
                        <input name="email" type="email" id="newsletter"
                               style="max-width: 60%;margin-top: 30px;"
                               placeholder="<?= $block->escapeHtml(__('Email')) ?>"
                               data-mage-init='{"mage/trim-input":{}}'
                               data-validate="{required:true, 'validate-email':true}"
                        />
                        <button class="action subscribe primary"
                                style="border-bottom-left-radius: 0;
                                border-top-left-radius: 0;
                                margin-left: -4px;
                                margin-top: -3.5px;
                                white-space: nowrap;
                                background:black;
                                border: 1px solid black;"
                                title="<?= $block->escapeHtmlAttr(__('Subscribe')) ?>"
                                type="submit"
                                aria-label="Subscribe">
                            <span><?= $block->escapeHtml(__('Subscribe')) ?></span>
                        </button>
                    </label>
                    <div class="link" style ="max-width:20%;margin:auto;display:flex;">
                        <div class="img1">
                            <a href="<?php echo $block->getData('FirstLink');?>"/><img src="<?php echo $block->getData('1stImage');?>" style="padding:15px;">
                        </div>    
                        <div class="img2">
                            <a href="<?php echo $block->getData('SecondLink');?>"/><img src="<?php echo $block->getData('2ndImage');?>" style="padding:15px;"/>
                        </div>
                        <div class="img3">    
                            <a href="<?php echo $block->getData('ThirdLink');?>"/><img src="<?php echo $block->getData('3rdImage');?>" style="padding:15px;"/>            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>





