<?php

/**
 * @var \Smart\Social\Block\Social $block
 */

echo $block->sayHello();
?>
<h2>Article Detail</h2>


<div id="index">
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
    </table>

</div>