<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Smart\Newsletter\Block\Subscribe $block */
?>
<div class="block-newsletter1">
    <div class="title"><strong><?= $block->escapeHtml(__('STAY CONNECT TO MELISSA')) ?></strong>
</div>
    <div class="content">
        <form class="form subscribe"
            novalidate action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
            <div class="field newsletter">
                <div class="control">
                    <label for="newsletter">
                        <div class ="label1" >
                            <?= $block->escapeHtml(__('Sign up for our newsletter and enjoys 10% of your first order:')) ?>
                        </div>
                        <input name="email" type="email" id="newsletter"
                               style="max-width: 60%;
                                      margin-top: 30px;"
                               placeholder="<?= $block->escapeHtml(__('Email')) ?>"
                               data-mage-init='{"mage/trim-input":{}}'
                               data-validate="{required:true, 'validate-email':true}"
                        />
                        <button class="action subscribe primary"
                                title="<?= $block->escapeHtmlAttr(__('Subscribe')) ?>"
                                type="submit"
                                aria-label="Subscribe">
                            <span><?= $block->escapeHtml(__('Subscribe')) ?></span>
                        </button>
                    </label>
                    <div class="link">
                        <div class="img1">
                            <a href="<?php echo $block->getData('FirstLink');?>"/><img src="<?php echo $block->getData('1stImage');?>"/>
                        </div>    
                        <div class="img2">
                            <a href="<?php echo $block->getData('SecondLink');?>"/><img src="<?php echo $block->getData('2ndImage');?>"/>
                        </div>
                        <div class="img3">    
                            <a href="<?php echo $block->getData('ThirdLink');?>"/><img src="<?php echo $block->getData('3rdImage');?>"/>            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>





