<?php

/**
 * @var \Smart\Social\Block\Index $block
 */
$allSlide = $block->loadAllSlide();
$path = $block->getMediaUrl();
$image = $this->helper('Smart\Social\Helper\Image');
?>

<h2>Instagram</h2>



    <ul class="my-slider">
        <?php foreach ($allSlide as $item): ?>
            <li>
                <img src="<?php echo $image->resize($item['thumbnail'], 300, 160); ?>" alt="<?= $item['name']?>"/>
            </li>
        <?php endforeach; ?>
    </ul>



<script>
    require([
        'jquery',
        'slick'
    ], function ($) {
        $(document).ready(function () {
            $(".my-slider").slick({
                arrows: true,
                infinite: false,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 1
            });
        });
    });
</script>