
    <!-- <div><img src="https://vcdn-vnexpress.vnecdn.net/2019/07/30/3-1564483263_680x0.jpg"/></div> -->
    <li>
        <img style="display:inline" src="<?php echo $block->getData('announce_image_1'); ?>" alt="">
    </li>



