


@media (min-width: 768px), print {
    
    .minicart-wrapper {
        margin-right: 5em;
    } 
    
}
@media only screen and (max-width: 767px){
    .slick-prev {
        top: 25%;
    }
    .slick-next{
        top: 25%;
        right: 0;
    }
    .my-slider{
        padding: 0;
        position: absolute;
    }
    .slick-slide{
        margin: 0 0.1em;
    }
    .slick-arrow, .slick-arrow:focus, .slick-arrow:active{

        z-index: 10;
        background-color: transparent;
        color: #91516d;
        opacity: 0.8;
        font-size: 4rem;
        border: none!important;
        border-radius: 50%;
        box-shadow: none!important;
    }
}

.slick-arrow:hover{
    background-color: transparent;
    color: #bc46e0;
    opacity: 0.8;
    border: none!important;
    box-shadow: none!important;
}
.text-center{
    text-align: center;
}
.slick-dots > li{
    margin-top: 0rem;
    margin-bottom: 1rem;
    display: inline-block!important;
    margin-right: 10px!important;
}

.slick-dots{
    text-align: center;
}



