<?php
/**
 * @var \Smart\HeroPanel\Block\Widget\Slider $block
 */
$allSlide = $block->loadBannerSlide();
$path = $block->getMediaUrl();
$image = $this->helper('Smart\Social\Helper\Image');

?>



<ul class="heropanel-slider">
    <?php foreach ($allSlide as $item): ?>
        <div class="hero">
            <a href="<?= $item['url_banner'] ?>" target="_blank">
                <img  src="<?php echo $image->resize($item['thumbnail'], 1186, 350); ?>" alt="<?= $item['name']?>"/>
            </a>
        </div>
    <?php endforeach; ?>
</ul>


<script>
    require([
        'jquery',
        'slick'
    ], function ($) {
        $(document).ready(function () {
            $(".heropanel-slider").slick({
                arrows: true,
                infinite: false,
                speed: 300,
                draggable:true,
                slidesToShow: 1,
                useCSS:true,
                slidesToScroll: 1,
                // centerPadding: 50px
            });

            $(".slick-prev").html("&#8249;");
            $(".slick-next").html("&#8250;");
        });
    });
</script>