<style>
    .flex-container{
        display: flex;
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
        align-content: center;
        grid-row-gap: 50px
    }
</style>


<div class="grid-container">
    <div class="item1">
        <img src="<?php echo $block->getData('announce_image_1'); ?>"><br>
        <?php echo $block->getData('announce_text_1'); ?>
    </div>
    <div class="item2">
        <img src="<?php echo $block->getData('announce_image_2'); ?>"><br>
        <?php echo $block->getData('announce_text_2'); ?>
    </div>
    <div class="item3">
        <img src="<?php echo $block->getData('announce_image_3'); ?>"><br>
        <?php echo $block->getData('announce_text_3'); ?>
    </div>
</div>
