<style>
    /*customer-welcome*/
    .customer-welcome .greet {
        display: block;
        color: black;
    }
</style>
<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/* @var Magento\Customer\Block\Account\Customer $block */
?>
<?php if (true) : ?>
    <li class="customer-welcome">
        <span class="customer-name"
              role="link"
              tabindex="0"
              data-mage-init='{"dropdown":{}}'
              data-toggle="dropdown"
              data-trigger-keypress-button="true"
              data-bind="scope: 'customer'">
            <span class="icon-user"></span>
            <button type="button"
                    class="action switch"
                    tabindex="-1"
                    data-action="customer-menu-toggle">
                <span><?= $block->escapeHtml(__('Change')) ?></span>
            </button>
        </span>
        <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "customer": {
                            "component": "Magento_Customer/js/view/customer"
                        }
                    }
                }
            }
        }
        </script>
        <?php if ($block->getChildHtml()) :?>
            <div class="customer-menu" data-target="dropdown">
                <ul class="user-menu">
                    <?php if ($block->customerLoggedIn()) : ?>
                        <?php echo $block->getChildHtml('hi-customer') ? $block->getChildHtml('hi-customer') : '' ?>
                        <?php echo $block->getChildHtml('my-account-link') ? $block->getChildHtml('my-account-link') : '' ?>
                        <?php echo $block->getChildHtml('authorization-link') ? $block->getChildHtml('authorization-link') : '' ?>
                    <?php else : ?>
                        <?php echo $block->getChildHtml('authorization-link') ? $block->getChildHtml('authorization-link') : '' ?>
                        <?php echo $block->getChildHtml('register-link') ? $block->getChildHtml('register-link') : '' ?>
                    <?php endif; ?>
                </ul>
            </div>
        <?php endif; ?>
    </li>
<?php endif; ?>

