/*my theme header*/
@media (min-width: 768px), print{
    .page-header .header.panel {
        background-color: black;
    }

    .page-header .panel.wrapper {
        border-bottom: 1px solid #e8e8e8;
        background-color: black!important;
    }
}

/*my delivery*/
/*a:visited, .alink:visited {*/
/*    !*color: #FFFFFF;*!*/
/*    !*text-decoration: none;*!*/
/*}*/

/*my minicart*/
.minicart-wrapper .action.showcart:before {
    color: white!important;
}
.minicart-wrapper .action.showcart {
    margin-right: 10px;
}

/*my search bar*/
.block-search input {
    border-radius: 10px!important;
}

/*my term*/
@media (min-width: 768px), print{
    .footer.content .block {
        float: none!important;
    }
}

/*custom login*/
.btn-sub {
    float: right;
    padding-right: 120px;
}

.forgot-pass a{
    color: #000;
}

.login-container .fieldset:after {
    content: '';
}

.btn-login {
    background: #000;
    border: 1px solid #000;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 0;
}

.btn-login:hover {
    background: #000;
    color: #fff;
}

/*custom login info*/
.btn-create a {
    background: #000;
    border: 1px solid #000;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 0;
}

.btn-create a {
    text-decoration: none;
    color: #fff;
}

.btn-create a:hover {
    text-decoration: none;
    color: #fff;
    background: #121212;
    transition: 0.6s;
}

.login-container .block .block-title {
    border-bottom: none;
}

.border-right {
    border-right: solid 1px #ccc;
}

.title-login {
    padding-bottom: 12px;
    font-size: 1.8rem;
}

.page-title-wrapper {
    display: none;
}

.login-container.container {
    padding-top: 50px;
}

/*custom css forgot password*/
