<style>
    .info-container
    {
        background-color: #f1f1f1;
        display: flex;
        border-bottom: 0.5px solid #d4cece;
    }
    .info-container > div
    {
        position: static;
        margin-left: auto;
        margin-right: auto;
        padding : 20px;
        font-size: 15px;
        text-align: center;
    }

    .info-container > div img{max-width: 10%;}
</style>
<div class = "info-container">
    <div class="shipping">
    <img src="<?php echo $block->getData('image-1');?>" alt=""><br>
    <?php echo $block->getData('shipping');?>
    </div>
    <div class="distributor">
    <img src="<?php echo $block->getData('image-2');?>" alt=""><br>
    <?php echo $block->getData('distributors');?>
    </div>
    <div class="authentication">
    <img src="<?php echo $block->getData('image-3');?>" alt=""><br>
    <?php echo $block->getData("authentication")?>
    </div>
</div>
