<style>
    .social.button{
        margin-left: 36%;
        margin-top: 1%;
        display: flex;  
    }   

    .social.button img{
        max-width: 55%;
    }
</style>

<div class = "social button">
        <div class="1st link">
        <a href="<?php echo $block->getData('FirstLink');?>">
        <img src="<?php echo $block->getData('1stImage');?>">
        </div>
        <div class="2nd link">
        <a href="<?php echo $block->getData('SecondLink');?>">
        <img src="<?php echo $block->getData('2ndImage');?>">
        </div>
        <div class="3rd link">
        <a href="<?php echo $block->getData('ThirdLink');?>">
        <img src="<?php echo $block->getData('3rdImage');?>">
        </div> 
    </div>