.justify-content{
    justify-content: space-between!important;
}
.logo{
    margin: 0.2em 5em !important;
}

@media (min-width: 768px), print {
    .navigation ul {
        padding: 0 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10em!important;
    }
    .sticky {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%
    }
    .minicart-wrapper {
        margin-right: 5em;
    }
    .header.content{
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding: 0!important;
        max-width: 100%!important;

    }
    .slick-prev{
        top: 40%;
    }
    .slick-next{
        top: 40%;
        right: 0;

    }
    .my-slider{
        padding: 0;
    }
    .slick-slide{
        margin: 0 0.5em;
    }
    .slick-arrow, .slick-arrow:focus, .slick-arrow:active{
        position: absolute;
        z-index: 10;
        background-color: transparent;
        color: #91516d;
        opacity: 0.8;
        border: none!important;
        font-size: 5em;
        border-radius: 50%;
        box-shadow: none!important;
    }
}
@media only screen and (max-width: 767px){
    .slick-prev {
        top: 25%;
    }
    .slick-next{
        top: 25%;
        right: 0;
    }
    .my-slider{
        padding: 0;
        position: absolute;
    }
    .slick-slide{
        margin: 0 0.1em;
    }
    .slick-arrow, .slick-arrow:focus, .slick-arrow:active{

        z-index: 10;
        background-color: transparent;
        color: #91516d;
        opacity: 0.8;
        font-size: 4em;
        border: none!important;
        border-radius: 50%;
        box-shadow: none!important;
    }
}

.slick-arrow:hover{
    background-color: transparent;
    color: #bc46e0;
    opacity: 0.8;
    border: none!important;
    box-shadow: none!important;
}
.text-center{
    text-align: center;
}
