/*my theme header*/
@media (min-width: 768px), print{
    .page-header .header.panel {
        background-color: black;
    }

    .page-header .panel.wrapper {
        border-bottom: 1px solid #e8e8e8;
        background-color: black!important;
    }
}



/*my minicart*/
.minicart-wrapper .action.showcart:before {
    color: white!important;
}
.minicart-wrapper .action.showcart {
    margin-right: 10px;
}

/*my search bar*/
.block-search input {
    border-radius: 10px!important;
}

/*my term*/
@media (min-width: 768px), print{
    .footer.content .block {
        float: none!important;
    }
}

/*custom login*/
.btn-sub {
    float: right;
    padding-right: 120px;
}

.forgot-pass a{
    color: #000;
}

.login-container .fieldset:after {
    content: '';
}

.btn-login {
    background: #000;
    border: 1px solid #000;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 0;
}

.btn-login:hover {
    background: #000;
    color: #fff;
}

/*custom login info*/
.btn-create a {
    background: #000;
    border: 1px solid #000;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 0;
}

.btn-create a {
    text-decoration: none;
    color: #fff;
}

.btn-create a:hover {
    text-decoration: none;
    color: #fff;
    background: #121212;
    transition: 0.6s;
}

.login-container .block .block-title {
    border-bottom: none;
}

.border-right {
    border-right: solid 1px #ccc;
}

.title-login {
    padding-bottom: 12px;
    font-size: 1.8rem;
}

.page-title-wrapper {
    display: none;
}

.login-container.container {
    padding-top: 50px;
}

/*custom css forgot password*/


/*Newsletter popup*/
.popup-newsletter .block-newsletter {
    width: 100%;
    background-color:#f7e403a3;
    height:300px;
}
.newsletter-content {
    display: none;
    text-align: center;
}
.newsletter-content .messages {
    display: none;
}
.newsletter-content h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    line-height: initial;
}
.newsletter-content p {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    line-height: initial;
    color: red;
}
.newsletter-content.block-newsletter .actions {
    display: block;
    margin-top: 10px;
    width: 100%;
}
.newsletter-content .actions .action.subscribe.primary {
    border-radius: 3px;
    width: 100%;
    display: block;
    text-transform: uppercase;
    background-color: black;
    border: 1px solid black;
}
.newsletter-content .actions .exit-popup{
    border-radius: 3px;
    width: 100%;
    display: block;
    text-transform: uppercase;
    box-shadow: 4px 4px;
}

.modal-popup .modal-header {

    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 1;
}

.modal-popup .modal-inner-wrap {

    margin: 10rem auto;
    width: 40%;
}

.modal-popup .modal-title {

border-bottom: 1px solid #c1c1c1;

font-weight: 300;

padding-bottom: 10px;

font-size: 26px;

margin-bottom: 0;

min-height: 1em;

word-wrap: break-word;

display: none;
}

.newsletter-link {
    float: left;
}

/*Newsletter*/
.block-newsletter1 {
    border-top: 0.5px solid #c2c2c2;
}

.title{
    text-align:center;
    font-size:24px;
}

.form.subscribe{
    text-align:center;
}

.form.subscribe .newsletter .label1{
    display:block;
    max-width:60%;
    margin:auto;
}


.form.subscribe .newsletter .action.subscribe.primary{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -4px;
    margin-top: -2.5px;
    white-space: nowrap;
    background:black;
    border: 1px solid black;
}

.form.subscribe .newsletter .link{
    max-width:20%;
    margin:auto;
    display:flex;
}

.form.subscribe .newsletter .link >div{
    padding:15px;
}
