.justify-content{
    justify-content: space-between!important;
}
.logo{
    margin: 0.2em 5em !important;
}

@media (min-width: 768px), print {
    .navigation ul {
        padding: 0 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10em!important;
    }
    .sticky {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%
    }
    .minicart-wrapper {
        margin-right: 5em;
    }
    .header.content{
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding: 0!important;
        max-width: 100%!important;

    }
    .slick-prev{
        top: 40%;
    }
    .slick-next{
        top: 40%;
        right: 0;

    }
    .my-slider{
        padding: 0;
    }
    .slick-slide{
        margin: 0 0.5em;
    }
    .slick-arrow, .slick-arrow:focus, .slick-arrow:active{
        position: absolute;
        z-index: 10;
        background-color: transparent;
        color: #91516d;
        opacity: 0.8;
        border: none!important;
        font-size: 8rem;
        border-radius: 50%;
        box-shadow: none!important;
    }
    .banner-info {
        font-size: 10pt;
        color:#000;
        line-height: 13pt;
        margin-bottom: 4rem;
        padding: 2rem 0;
        text-align: center;
    }
    .promo{
        margin: 2rem 0;
    }
    .title{
        font-size:30pt;
    }
    .quickview {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:10;
        opacity:0;

    }
    .qv-text{
        position: absolute;
        top: 37%;
        left: 26%;
        cursor: pointer;
        border: 1px solid white;
        padding: 1em;
        color: white;
        font-weight: bolder;
        font-size: 12pt;
    }
    .qv-text:hover{
        opacity: 1;
        background-color: #3b3642;

    }

    .quickview:hover{
        opacity:0.7;
        background-color : rgba(30, 30, 32, 0.09);

    }
    .qv-text a {
        color: white;
        text-decoration: none;
    }
    .product-item-info{
        position: relative;
    }
}
@media only screen and (max-width: 767px){
    .slick-prev {
        top: 25%;
    }
    .slick-next{
        top: 25%;
        right: 0;
    }
    .my-slider{
        padding: 0;
        position: absolute;
    }
    .slick-slide{
        margin: 0 0.1em;
    }
    .slick-arrow, .slick-arrow:focus, .slick-arrow:active{

        z-index: 10;
        background-color: transparent;
        color: #91516d;
        opacity: 0.8;
        font-size: 4rem;
        border: none!important;
        border-radius: 50%;
        box-shadow: none!important;
    }
}

.slick-arrow:hover{
    background-color: transparent;
    color: #bc46e0;
    opacity: 0.8;
    border: none!important;
    box-shadow: none!important;
}
.text-center{
    text-align: center;
}
.slick-dots > li{
    margin-top: 0rem;
    margin-bottom: 1rem;
    display: inline-block!important;
    margin-right: 10px!important;
}

.slick-dots{
    text-align: center;
}


/*arrow-top*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
/*Recently Viewed*/
@media only screen and (min-width: 1024px) {
    .pr-2{
        padding-right: 2rem!important;
    }
}

