<style>

    .announcement-bar-container {
        display: grid;
        grid-template-columns: auto auto auto;
        align-content: center;
        grid-column-gap: 10px;
        border: 1px solid black;
    }

    .announcement-bar-item {
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 20px;
        text-align: center;
    }
</style>


<div class="announcement-bar-container">
    <a href="<?php echo $block->getData('announce_link_1'); ?>">
        <div class="announcement-bar-item" style="background-color: #c0dffa">
            <?php echo $block->getData('announce_text_1'); ?>
        </div>
    </a>



    <a href="<?php echo $block->getData('announce_link_2'); ?>">
        <div class="announcement-bar-item" style="background-color:#e4b9c0">
            <?php echo $block->getData('announce_text_2'); ?>
        </div>
    </a>

    <a href="<?php echo $block->getData('announce_link_3'); ?>">
        <div class="announcement-bar-item" style="background-color:#f98b25">
            <?php echo $block->getData('announce_text_3'); ?>
        </div>
    </a>

</div>
