<?php
/**
 * @var $block \Magento\Catalog\Block\Product\View
 */
?>



<div class="hh-size-selection">
    <a href="#"><?php echo __('How to choose the right size?'); ?></a>
</div>

<div class="hh-modal-content" id="hh-modal-content">
    <!-- The codes below helps display a static block in the template phtml file-->
    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('size-guide-popup')->toHtml(); ?>
    <!-- We will create the block id how-to-choose-the-right-size in the backend later -->
</div>