<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block \Magento\Customer\Block\Account\Forgotpassword
 */

/** @var \Smart\CustomAuthentication\Block\Account\Forgotpassword $block */
?>
<style>
    .form.password.forget .fieldset:after {
      content: ''!important;
   }

    .form.password.forget .fieldset {
        margin-bottom: 0 !important;
    }
    .form.password.forget{
      padding-top: 20px;
    }

   .form.password.forget h5{
       text-transform: uppercase;
       font-weight: 300 !important;
       letter-spacing: .05em;
       font-size: 13pt !important;
   }

    #email_address {
        width: 360px;
        height: 40px;
        margin-top: 10px;
    }

    .btn-main {
        color: #fff;
        background-color: #000;
        border-color: #000;
        text-transform: uppercase;
    }

    .btn-main:hover {
        color: #fff;
        background-color: #000;
        border-color: #000;
    }

</style>
<form class="form password forget"
      action="<?= $block->escapeUrl($block->getUrl('*/*/forgotpasswordpost')) ?>"
      method="post"
      id="form-validate"
      data-mage-init='{"validation":{}}'>
    <h5>FORGOT YOUR PASSWORD?</h5>
    <fieldset class="fieldset" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
        <div class="field note"><?= $block->escapeHtml(__('Please enter your email address below. You will receive a link to reset your password.')) ?></div>
        <div class="field email required">
            <div class="control">
                <input type="email" placeholder="E-mail" name="email" alt="email" id="email_address" class="input-text" value="<?= $block->escapeHtmlAttr($block->getEmailValue()) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}">
            </div>
        </div>
        <?= $block->getChildHtml('form_additional_info') ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary2">
            <button type="submit" class="btn-main"><span><?= $block->escapeHtml(__('Recover')) ?></span></button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?= $block->escapeUrl($block->getLoginUrl()) ?>"><span><?= $block->escapeHtml(__('Go back')) ?></span></a>
        </div>
    </div>
</form>
