<?php
/**
 * @var \Smart\CateMenu\Block\Index $block
 */
$allCategory = $block->loadAllCategory();
?>
<?php foreach($allCategory as $category): ?>
    <li class="level0 category-item last level-top">
        <a href="<?= $category['link'] ?>" class="level-top "><?= $category['name'] ?></a>
    </li>
<?php endforeach; ?>