<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Shopping cart template
 *
 * @var $block Smart\CustomAuthentication\Block\Cart\Cart
 */

?>


<?
//var_dump($_orders = $block->getAllItems(10)); die;
//$_orders = $block->getOrdersFromCustomer();
//foreach ($_orders as $_order) :
//  var_dump($_order->getRealOrderId());
//endforeach; ?>

<style>
    a.order-id {
        color: #000;
        font-weight: bold;
    }
    a.view-all {
        color: #0d5aa7;
        font-weight: bold;
    }
</style>

<?php
    $product = $block->getOrdersFromCustomer();
    $count = count($product);
//    var_dump($product = $block->getOrdersFromCustomer()); die;
//foreach ($product as $order_items) {
//    var_dump($order_items);
//    foreach ($order_items as $item) {
//        var_dump($item['sku']);
//    }
//}
?>

<div class="block block-dashboard-orders">
    <div class="block-title recently-add-item">
        <strong><?= $block->escapeHtml(__('Recently added items')) ?></strong>
    </div>
        <div class="block-content">
        <?php if ($count > 0) : ?>
            <div class="table-wrapper orders-recent">
                <table class="data table table-order-items recent" id="my-orders-table">
                    <caption class="table-caption"><?= $block->escapeHtml(__('Recent Orders')) ?></caption>
                    <thead>
                    <tr>
                        <th scope="col" class="col image"><?= $block->escapeHtml(__('Image')) ?></th>
                        <th scope="col" class="col product-name"><?= $block->escapeHtml(__('Product Name')) ?></th>
                        <th scope="col" class="col price"><?= $block->escapeHtml(__('Price')) ?></th>
                        <th scope="col" class="col qty"><?= $block->escapeHtml(__('Qty')) ?></th>
                        <th scope="col" class="col qty"><?= $block->escapeHtml(__('Add to Cart')) ?></th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($product as $order_items ) {
                    foreach ($order_items as $items) {
                        $addToCartUrl = $block->getAddToCartUrlForProduct($items['sku']);
                        ?>

                        <tr>
                            <form data-role="tocart-form" action="<?php echo $addToCartUrl; ?>" method="post">
                                <?php echo $block->getBlockHtml('formkey')?>

                            <td data-th="<?= $block->escapeHtml(__('Image')) ?>" class="col image">
                                <img src="<?= $block->escapeHtml($items['image']) ?>" alt="" style="width: 50px">
                            </td>

                            <td data-th="<?= $block->escapeHtml(__('Product Name')) ?>" class="col product-name">
                                <?= $block->escapeHtml($items['name']) ?>
                            </td>

                            <td data-th="<?= $block->escapeHtml(__('Price')) ?>" class="col price">
                                $<?= $block->escapeHtml(number_format($items['price'], 2)) ?>
                            </td>

                            <td data-th="<?= $block->escapeHtml(__('Qty')) ?>" class="col qty">
                                <input type="number"
                                       name="qty"
                                       id="qty"
                                       maxlength="12"
                                       value="<?php /* @escapeNotVerified */ echo $block->escapeHtml(number_format($items['quantity'])) ?>"
                                       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                                       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                                />
                            </td>

                            <td class="col qty">
                                    <div class="btn">
                                        <button type="submit" title="Add to Cart" class="action tocart primary">
                                            <span>Add</span>
                                        </button>
                                    </div>
                            </td>
                            </form>

                        </tr>
                    <?php } } ?>
                    </tbody>
                </table>
            </div>
        <?php else : ?>
            <div class="message info empty"><span><?= $block->escapeHtml(__('You have placed no orders.')) ?></span></div>
        <?php endif; ?>
    </div>
</div>
