<?php
?>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="<?=$block->getData('photo1')?>" style="
                 width: 600px;
                 height: 250px;">

        </div>
        <div class="col-md-6">
            <img src="<?=$block->getData('photo2')?>" style="
                 width: 600px;
                 height: 250px;">
        </div>
    </div>
</div>